@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* HEADER *@
@* HEADER *@
@* HEADER *@
@* HEADER *@

<div class="text-center roboto">
    <h1>INSERT TITLE HERE</h1> @*TITLE*@@*TITLE*@@*TITLE*@@*TITLE*@
</div>

@*MAIN CONTENT*@
@*MAIN CONTENT*@
@*MAIN CONTENT*@
@*MAIN CONTENT*@

<div class="row my-5 simplebox roboto">
    <div class="col-sm-6">
        <img src="~/devopstoolspictures/Azure Logo.png" class="chatimage d-block img-fluid mx-auto" />
    </div>
    <div class="col-sm-6">
        <h2>SECTION 1 TITLE (Azure DevOps)</h2> @*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@
        <div>
            <p>
                SEPERATED PARAGRAPH
            </p>
            <p>
                SEPERATED PARAGRAPH
            </p>
            <p>
                SEPERATED PARAGRAPH
            </p>
        </div>
    </div>

</div>

<div class="row my-5 simplebox roboto">
    <div class="col-sm-6">
        <h2>SECTION 2 TITLE (Visual Studio)</h2> @*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@
        <p>
            SECTION 2 CONTENT GOES HERE @*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@
        </p>
    </div>
    <div class="col-sm-6 simplebox">
        <img src="~/devopstoolspictures/Visual Studio Logo.png" class="chatimage d-block img-fluid mx-auto mt-1" />
    </div>
</div>

<div class="row my-5 simplebox roboto">
    <div class="col-sm-6">
        <img src="~/devopstoolspictures/Git Logo.png" class="chatimage d-block img-fluid mx-auto" /> @*ADD YOUR SELECTED PICTURE HERE, I HAVE UPLOADED OPTIONS UNDER "wwwroot > DEVOPSTOOLSPICTURES*@
    </div>
    <div class="col-sm-6">
        <h2>SECTION 3 TITLE (Git)</h2>@*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@
        <div>
            <p>
                SEPERATED PARAGRAPH @*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@
            </p>
            <p>
                SEPERATED PARAGRAPH
            </p>
            <p>
                SEPERATED PARAGRAPH
            </p>
        </div>
    </div>

</div>

<div class="row my-5 simplebox roboto">
    <div class="col-sm-6">
        <h2>SECTION 4 TITLE (GitHub)</h2> @*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@
        <p>
            SECTION 4 CONTENT GOES HERE @*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@
        </p>
    </div>
    <div class="col-sm-6 simplebox">
        <img src="~/devopstoolspictures/github logo.png" class="chatimage d-block img-fluid mx-auto mt-1" />
    </div>
</div>

<div class="row my-5 simplebox roboto">
    <div class="col-sm-6">
        <img src="~/devopstoolspictures/docker logo.png" class="chatimage d-block img-fluid mx-auto" /> @*ADD YOUR SELECTED PICTURE HERE, I HAVE UPLOADED OPTIONS UNDER "wwwroot > DEVOPSTOOLSPICTURES*@
    </div>
    <div class="col-sm-6">
        <h2>SECTION 5 TITLE (Docker)</h2>@*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@@*SUBTITLE*@
        <div>
            <p>
                SEPERATED PARAGRAPH @*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@
            </p>
            <p>
                SEPERATED PARAGRAPH
            </p>
            <p>
                SEPERATED PARAGRAPH
            </p>
        </div>
    </div>

</div>

<div class=" my-5 simplebox roboto">
    <div class="missionstatement">
        <h2>How this relates to the working world, or whatever Baham said?...</h2> @*NEW TITLE HERE*@@*NEW TITLE HERE*@
        <p>
            content goes here @*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@@*PARAGRAPH*@
        </p>
    </div>
</div>