@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jenkins and Jira!</h1>
    <p>Jenkins Pipeline and auto-restart are finally a success</p>
</div>


@*Im going to ask what he wants us to put on the landing page*@
<div>
    <h2>About Jira:</h2>
</div>