@page
@model MSIS4363devopstools.Pages.JiraModel
@{
}

<div class="jirapage">
    <div class="text-center roboto">
        <h1>Jira Evaluation Report</h1>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="col-sm-6">
            <img src="~/devopstoolspictures/jira-logo.png" class="chatimage d-block img-fluid mx-auto" />
        </div>

        <div class="col-sm-6 orangebox">
            <h2>What I Like (+)</h2>
            <p>(+) Strong Agile tools (Scrum & Kanban boards)</p>
            <p>(+) Integrates easily with GitHub, Jenkins, and Slack</p>
            <p>(+) Offers free plan for small teams</p>
            <p>(+) Cloud and server versions available</p>
        </div>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="col-sm-6 orangebox">
            <h2>Could Be Better</h2>
            <p>(-) Can be complex for beginners</p>
            <p>(-) Performance slows with large projects</p>
            <p>(-) Paid plans become expensive at scale</p>
        </div>
        <div class="col-sm-6 simplebox">
            <img src="~/devopstoolspictures/jira_pictures.png" />
        </div>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="jirabox col-sm-6">
            @*             <img src="~/devopstoolspictures/jira_work.png" />
 *@        </div>
        <div class="col-sm-6 orangebox ratings">
            <h2>Ratings</h2>
            <p>Overall Rating: <b>8.25/10</b></p>
            <p>Ease of Use: <b>8/10</b></p>
            <p>Perceived Usefulness for Student Projects: <b>9/10</b></p>
            <p>Cost/Pricing Tiers: <b>7/10</b></p>
            <p>Features: <b>9/10</b></p>
        </div>
    </div>

    <div class="my-5 simplebox roboto">
        <div class="missionstatement text-start">
            <h2>Overall Recommendation</h2>
            <p>
                Jira is a great DevOps tool for beginners because it’s easy to navigate and user-friendly. It provides built-in guidance and support, making it assistant-friendly when help is needed. The interface is straightforward, allowing users to organize tasks and track progress easily. Jira is similar to Trello, but offers more advanced features like sprint planning and automation, making it ideal for managing software and DevOps projects.
            </p>
        </div>
    </div>
</div>