@page
@model MSIS4363devopstools.Pages.JiraModel
@{
}

<div>
    <h1>Learn About Jira!<h1>
        <div>
            <p>
                @* put information about jira here*@
            </p>
        </div>
</div>

<div>
    <h1> </h1>
    <p>

    </p>
</div>