@page
@model MSIS4363devopstools.Pages.JiraModel
@{
}

<div class="jirapage">
    <div class="text-center roboto">
        <h1>Jira Evaluation Report</h1>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="col-sm-6">
            <img src="~/devopstoolspictures/jira-logo.png" class="chatimage d-block img-fluid mx-auto" />
        </div>

        <div class="col-sm-6 orangebox">
            <h2>What I Like (+)</h2>
            <p>(+) Text Here</p>
            <p>(+) Text Here</p>
            <p>(+) Text Here</p>
            <p>(+) Text Here</p>
        </div>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="col-sm-6 orangebox">
            <h2>Could Be Better (-)</h2>
            <p>(-) Text Here</p>
            <p>(-) Text Here</p>
            <p>(-) Text Here</p>
            <p>(-) Text Here</p>
        </div>
        <div class="col-sm-6 simplebox">
            <img src="~/devopstoolspictures/jira-logo.png" class="chatimage d-block img-fluid mx-auto mt-1" />
        </div>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="col-sm-6">
            <img src="~/devopstoolspictures/jira-logo.png" class="chatimage d-block img-fluid mx-auto" />
        </div>
        <div class="col-sm-6 orangebox ratings">
            <h2>Ratings</h2>
            <p>Overall Rating: <b>0/10</b></p>
            <p>Ease of Use: <b>0/10</b></p>
            <p>Perceived Usefulness for Student Projects: <b>0/10</b></p>
            <p>Cost/Pricing Tiers: <b>0/10</b></p>
            <p>Features: <b>0/10</b></p>
        </div>
    </div>

    <div class="my-5 simplebox roboto">
        <div class="missionstatement text-start">
            <h2>Overall Recommendation</h2>
            <p>
                Text Here
            </p>
            <p>
                Text Here
            </p>
        </div>
    </div>
</div>