@page
@model MSIS4363devopstools.Pages.JiraModel
@{
}

<div class="jirapage">
    <div class="text-center roboto">
        <h1>Jira Evaluation Report</h1>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="col-sm-6">
            <img src="~/devopstoolspictures/jira-logo.png" class="chatimage d-block img-fluid mx-auto" />
        </div>

        <div class="col-sm-6 orangebox">
            <h2>What We Like (+)</h2>
            <p>(+) Strong Agile tools (Scrum & Kanban boards)</p>
            <p>(+) Integrates easily with GitHub, Jenkins, and Slack</p>
            <p>(+) Offers free plan for small teams</p>
            <p>(+) Cloud and server versions available</p>
        </div>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="col-sm-6 orangebox">
            <h2>Could Be Better (-)</h2>
            <p>(-) Can be complex for beginners</p>
            <p>(-) Performance slows with large projects</p>
            <p>(-) Paid plans become expensive at scale</p>
        </div>
        <div class="col-sm-6 simplebox">
            <img src="~/devopstoolspictures/jira-logo.png" class="chatimage d-block img-fluid mx-auto mt-1" />
        </div>
    </div>

    <div class="row my-5 simplebox roboto">
        <div class="col-sm-6">
            <img src="~/devopstoolspictures/jira-logo.png" class="chatimage d-block img-fluid mx-auto" />
        </div>
        <div class="col-sm-6 orangebox ratings">
            <h2>Ratings</h2>
            <p>Overall Rating: <b>8/10</b></p>
            <p>Ease of Use: <b>8/10</b></p>
            <p>Perceived Usefulness for Student Projects: <b>9/10</b></p>
            <p>Cost/Pricing Tiers: <b>5/10</b></p>
            <p>Features: <b>9/10</b></p>
        </div>
    </div>

    <div class="my-5 simplebox roboto">
        <div class="missionstatement text-start">
            <h2>Overall Recommendation</h2>
            <p>
                We recommend using Jira and Jenkins together in student projects.
            </p>
            <p>
                Jira manages tasks and workflow, while Jenkins automates code integration and builds. This combination mirrors real-world DevOps pipelines, preparing students for internships and IT careers.
            </p>
        </div>
    </div>
</div>